{% extends "template.html" %} {% block content %}
<h1 class="title headafter" id="query_message">{{ message }}</h1>
<form class="query-form" method="POST" action="/query">
  <div class="form-control centered">
    <input type="text" placeholder="Place your SQL-query here" name="query" value="{{ query }}" />
    <button class="btn" type="submit">Run Query</button>
  </div>
</form>
<h1 class="title headafter" id="query_result">Query Result</h1>
<div class="query-form">
  <div class="form-control centered">
    <textarea placeholder="Your SQL-query result" name="query">{{ result }}</textarea>
    <button class="btn">Clear Query Result</button>
  </div>
</div>
{% endblock %}
